* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  margin: 0 !important;
  padding: 0 !important;
}

ul {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}
ul li p {
  margin: 0;
  padding: 0;
  overflow: auto;
}

ul li {
  display: flex;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  list-style-type: none;
  border-radius: 15px;
  text-align: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
  transition: 0.3s;
}

ul li.checked {
  background: #276678;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.btn-close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.edit-btn {
  position: absolute;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.9rem;
  right: 50px;
  top: 7px;
}
